{% extends "base.html" %}

{% block head_title %}	
    	Placement System | Delete Scoresheet
    {% endblock head_title %}

{% block content %}
    <h3> {{ title }}</h3>
<div class="panel panel-danger">
		<div class="panel-heading"><h1 class="panel-title">Delete Scoresheet </h1></div>
		<div class="panel-body">
			
			
			<form method="post">{% csrf_token %}
			    Are you sure you want to delete Scoresheet <strong> "{{ object }}" </strong> ?<br><br>
			    <input type="submit" class="btn btn-danger" value="Delete" />
			    <a class="btn btn-default" href="{% url 'scoresheet:list' %}">Cancel</a>
			    
			</form>

		</div>
		
</div>
{% endblock %}
